/.classpath
/.project
/.factorypath
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.apt.core.prefs
/target/
/src/test/resources/*/target/
/src/test/resources/*/log.txt
/src/test/resources/project-with-sub-module/my-module/target/
/src/test/resources/project-with-sub-module/my-module/log.txt
.idea/