/.classpath
/.project
/.factorypath
/.settings/org.eclipse.core.resources.prefs
/.settings/org.eclipse.jdt.apt.core.prefs
/.settings/org.eclipse.m2e.core.prefs
/.settings/org.eclipse.core.resources.prefs
/target/
/src/test/resources/**/target/
/src/test/resources/**/log.txt
.idea/